@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.tailofequestria .contener{width: 1000px;height: 594px; display: block;}
.tailofequestria header{background: #d5c6dc;color: #705c8e;}
#sidebar,.document,.window-app .window-content{background: #f8c2da;color: #705c8e;}
#sidebar header{background: #d5c6dc}
#sidebar .compendium-footer{color: #ef5fa4;}
.tailofequestria.window-app .window-content {background: none;}
.chat-message{background: #d5c6dc;color: #705c8e;}
.dialog-content{background: #f8c2da;padding: 5px;color: #705c8e;}
.dialog .dialog-buttons button.default{background: #ef5fa4;color: #fff;border: none;}
.tailofequestria .col10{width: 490px;height: 54px; display: block;margin-top:5px; padding: 10px;margin-top: 10px;background: #ceb9d8;}
.tailofequestria .col2{width: 490px;height: 564px; display: block;float: left;margin: 5px}
.tailofequestria .col3{width: 33%;height: 50px; display: block;float: left;}
.tailofequestria .col4{width: 66%;height: 50px; display: block;float: right;}
.tailofequestria .col3 img{width: auto;height: 113px; display: block; margin: 0 auto;border: none;margin-bottom: 10px}
.tailofequestria .col3 input,.col4 input, input.stamina,input.staminamax, input.reduct{display: block; margin: 8px auto; background: none; border: none; border-bottom: solid 1px #705c8e}
.tailofequestria .col3 input{width: 65%;}
.tailofequestria .col4 input{width: 36%;}
.tailofequestria .col6 {width: 240px;float: left; height: 259px;margin-top: 10px; padding: 10px;overflow: auto;}
.tailofequestria input.stamina,input.staminamax{float: left; width: 100px}
.tailofequestria input.reduct{float: right; width: 100px}
.tailofequestria h1 {margin-top: 0;font-family: 'Gloria Hallelujah', cursive;float: left;width: 80%;}
.tailofequestria h1,.tailofequestria h2{border-bottom: none}
.tailofequestria h1 input{width: 100%; background: none; border:none;color:#705c8e; padding: 10px;font-size: 1.2em; }
.tailofequestria h2 {font-family: 'Gloria Hallelujah', cursive;color:#705c8e;font-size: 1em; float: left;margin-top: 0}
.tailofequestria .col3 h2 {width: 25%;padding-top: 6px}
.tailofequestria .col4 h2 {width: 54%;}
.tailofequestria .col6 h2{text-align: center;width: 100%;margin-bottom: -10px;}
.tailofequestria .stat{margin-top: 10px}
.tailofequestria .stat h2 {width: 100%;text-align: center;margin-bottom: 8px;}
.tailofequestria .stat .col3 {width:112px; margin: 5px;height: 112px}
.tailofequestria .stat input{border-bottom:none;text-align: center;width: 100%;font-size: 2em;color:#705c8e;height: 40px}
.tailofequestria .amitie {border-radius: 61px}
.tailofequestria .clear{clear:both;}

.tailofequestria .items-list {list-style: none;margin: 7px 0;padding: 0;overflow-y: auto;}
.tailofequestria .items-list li{clear: both;height: 25px;overflow: hidden;display: block;}
.tailofequestria .talent .items-list li:hover,.tailofequestria .defaut .items-list li:hover{height: 40px}
.tailofequestria .items-list li:nth-child(odd) { background: aliceblue; }
.tailofequestria .item-name2,.tailofequestria .item-description2,.tailofequestria .item-valeur,.tailofequestria .item-qty,.tailofequestria .item-image,.tailofequestria .item-name,.tailofequestria .item-race,.tailofequestria .item-dice,.tailofequestria .item-trait,.tailofequestria .item-description,.tailofequestria .item-controls{float:left;display: block;height: 20px;font-size: 0.8em;color:#705c8e;overflow: hidden;}
.tailofequestria .item-name2,.tailofequestria .item-description2,.tailofequestria .item-valeur,.tailofequestria .item-qty,.tailofequestria .item-name,.tailofequestria .item-race,.tailofequestria .item-dice,.tailofequestria .item-trait,.tailofequestria .item-description,.tailofequestria .item-controls{padding:4px;}
.tailofequestria .item-image{width: 20px;}
.tailofequestria .item-image img{border:none;height: 20px;width: 20px}
.tailofequestria .item-name{width: 70px}
.tailofequestria .item-name2{width: 100px}
.tailofequestria .item-race{width: 50px}
.tailofequestria .item-dice{width: 25px}
.tailofequestria .item-trait{width: 35px}
.tailofequestria .item-description{width:calc(100% - 60px);font-style: italic;border-bottom:dashed  1px  #705c8e;}
.tailofequestria .item-description2{width:220px;font-style: italic;border-bottom:dashed  1px  #705c8e;}
.tailofequestria .item-controls{width: 60px; text-align: right}
.tailofequestria .item-valeur{width: 25px}
.tailofequestria .item-qty{width: 25px}
.jetdedes{cursor: pointer}