<div class="dice-roll liber task-check">
	<h2 class="title">
		<div class="check-type">{{localize "liber.chat.taskcheck.title" type=type}}</div>
		{{#if difficulty}}
		<div class="difficulty">{{localize "liber.chat.taskcheck.difficulty" diff=difficulty}}</div>
		{{/if}}
		<div class="rollsumary">
			<div class="dice-formula">{{roll.formula}}</div>
			{{{tooltip}}}
			<h4 class="dice-total swerve" data-swerve="{{swerve}}">
				{{localize "liber.chat.tashCheck.swerve" swerve=swerve}}
			</h4>
			<h4 class="dice-total action-result" data-action-result="{{roll.total}}">
				{{localize "liber.chat.tashCheck.actionResult" result=roll.total}}
			</h4>
			{{#if difficulty}}
				<h4 class="dice-total outcome" data-outcome="{{outcome}}">
					{{localize "liber.chat.tashCheck.outcome" outcome=outcome}}
				</h4>
			{{/if}}
		</div>
	</h2>
</div> 