<form class="{{cssClass}} liber" autocomplete="off">
	<div class="contener">
		<div class="col2">
			{{!-- Sheet Header --}}
			<header id="pj-titre">
				
				<div>
					<div class="col3">
						<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
					</div>
					<div style="float:left;width: 66%;displayblock">
						<h1><input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name" style="height:50px"/></h1>
						<input name="system.level" type="text" value="{{actor.system.level}}" placeholder="Level" style="float:left;margin-top: 5px;width: 20%;border: none;text-align: center;"/>
						<div class="col3" style="width:54%">
							{{#each actor.race as |item id|}}
								<div class="item" data-item-id="{{item._id}}">
				                    <div class="item-image" style="height: 40px;width:40px"><img src="{{item.img}}" title="{{item.name}}" style="height: 40px;width:40px"/></div>
				                    <div class="item-name" style="width: 86px;padding-top: 10px;height: 40px;">{{item.name}}</div>
				                    <div class="item-controls" style="padding-top: 10px;height: 40px;width: 20px;">
				                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
				                    </div>
				                </div>
			            	{{/each}}
						</div>
						<div class="col3" style="width: 46%;">						
							{{#each actor.harmony as |item id|}}
								<div class="item" data-item-id="{{item._id}}">
				                    <div class="item-image" style="height: 40px;width:40px"><img src="{{item.img}}" title="{{item.name}}" style="height: 40px;width:40px"/></div>
				                    <div class="item-name" style="width: 86px;padding-top: 10px;height: 40px;">{{item.name}}</div>
				                    <div class="item-controls" style="padding-top: 10px;height: 40px;width: 20px;">
				                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
				                    </div>
				                </div>
			            	{{/each}}



						</div>
					</div>
					<div class="clear"></div>
				</div>	
			</header>
			<div class="col10">
				<h2 style="padding-top: 6px;">Endurance : </h2><input class="stamina" name="system.stamina.value" type="text" value="{{actor.system.stamina.value}}" placeholder="1"/><span style="float:left;padding: 10px;color:#705c8e"> / </span>
					<input class="staminamax" name="system.stamina.max" type="text" value="{{actor.system.stamina.max}}" placeholder="1"/> <input class="reduct" name="system.reduction" type="text" value="{{actor.system.reduction}}" placeholder="Réduction de dommage"/>
					<div class="clear"></div>
			</div>
			<div class="stat">
				<div class="col3" style="background: #b8e3ec;margin-left: 0;">
					<h2><i class="fas fa-dice-d20 jetdedes" data-name="Corps"  data-dice="D4" data-attDice="{{actor.system.system.body}}"></i> Corps</h2><input class="body" name="system.system.body" type="text" value="{{actor.system.system.body}}" placeholder="1"/>
					<input class="modifbody" name="system.modif.body" type="text" value="{{actor.system.modif.body}}" placeholder="0" style="background: #eeeded;font-size: 0.9em;height: 20px;margin-top: -5px;width: 50px;"/>
				</div>
				<div class="col3" style="background: #ceb9d8">
					<h2><i class="fas fa-dice-d20 jetdedes" data-name="Esprit"  data-dice="D4" data-attDice="{{actor.system.system.mind}}"></i> Esprit</h2><input class="mind" name="system.system.mind" type="text" value="{{actor.system.system.mind}}" placeholder="1"/>
					<input class="modifmind" name="system.modif.mind" type="text" value="{{actor.system.modif.mind}}" placeholder="0" style="background: #eeeded;font-size: 0.9em;height: 20px;margin-top: -5px;width: 50px;"/>
				</div>
				<div class="col3" style="background: #fbd0e3">
					<h2><i class="fas fa-dice-d20 jetdedes" data-name="Charme"  data-dice="D4" data-attDice="{{actor.system.system.charm}}"></i> Charme</h2><input class="charm" name="system.system.charm" type="text" value="{{actor.system.system.charm}}" placeholder="1"/>
					<input class="modifcharm" name="system.modif.charm" type="text" value="{{actor.system.modif.charm}}" placeholder="0" style="background: #eeeded;font-size: 0.9em;height: 20px;margin-top: -5px;width: 50px;"/>
				</div>
				<div class="col3 amitie" style="background: #ef5fa4;">
					<h2 style="color:#fff">Amitié</h2><input class="frienship" name="system.frienship" type="text" value="{{actor.system.frienship}}" placeholder="1" style="color:#fff"/>
				</div>
			</div>
			<div class="col6 talent" style="margin-right: 10px;background: #b5e3e9">
				<h2>Talents</h2><div class="clear"></div>
				<table>
					<ol class="items-list">
		                <li class="item item-header" style="height: 20px">
		                  <div class="item-image"></div>
		                  <div class="item-name">Nom</div>
		                  <div class="item-race">Race</div> 
		                  <div class="item-dice">Dès</div> 
		                  <div class="item-trait">Trait</div> 
		                </li>
		            {{#each actor.talent as |item id|}}
		                <li class="item" data-item-id="{{item._id}}">
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
		                    <div class="item-name">{{item.name}}</div>
		                    <div class="item-race">{{item.system.race}}</div> 
		                  <div class="item-dice">{{item.system.dice}}</div> 
		                  <div class="item-trait">{{item.system.trait}}</div> 
		                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
		                    <div class="item-controls">
		                    	<i class="fas fa-dice-d20 jetdedes" data-name="{{item.name}}"  data-dice="1d" data-attDice="{{item.system.dice}}" data-trait="{{item.system.trait}}"></i>
		                        <a class="item-control item-edit" title="Edit Sort"><i class="fas fa-edit"></i></a>
		                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
		                    </div>
		                </li>
		            {{/each}}
	        		</ol>
			        
			    </table>
			</div>
			<div class="col6 defaut" style="background: #cebad6">
				<h2>Défauts</h2><div class="clear"></div>
				<table>
			        <ol class="items-list">
		                <li class="item item-header" style="height: 20px">
		                  <div class="item-image"></div>
		                  <div class="item-name">Nom</div>
		                </li>
		            {{#each actor.faiblesse as |item id|}}
		                <li class="item" data-item-id="{{item._id}}">
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
		                    <div class="item-name">{{item.name}}</div>
		                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
		                    <div class="item-controls">
		                        <a class="item-control item-edit" title="Edit Sort"><i class="fas fa-edit"></i></a>
		                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
		                    </div>
		                </li>
		            {{/each}}
	        		</ol>
			    </table>
			</div>

		</div>
		<div class="col2" >
			<div class="histoire" style="background: #b5e3e9;padding:10px;width: 470px;height: 141px">
				<h2>Histoire</h2>
				<textarea class="histoire" name="system.histoire" style="border: #705c8e 1px solid;color: #705c8e;resize: none;height: 80px;">{{actor.system.histoire}}</textarea>
			</div>
			<div class="inventaire" style="background: #f8c2da;padding:10px;width: 470px;height: 428px;margin-top: 10px">
				<h2>Inventaire</h2><div class="clear"></div>
				<table>
					<ol class="items-list">
		                <li class="item item-header" style="height: 20px">
		                  <div class="item-image"></div>
		                  <div class="item-name2">Nom</div>
		                  <div class="item-description2">Description</div>
		                  <div class="item-valeur">$</div>
		                  <div class="item-qty">Qty</div>
		                  <div class="item-controls"></div>
		                </li>
		            {{#each actor.inventaire as |item id|}}
		                <li class="item" data-item-id="{{item._id}}">
		                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
		                    <div class="item-name2" title="{{item.name}}">{{item.name}}</div>
		                    <div class="item-description2" title="{{item.system.description}}">{{item.system.description}}</div>
		                    <div class="item-valeur">{{item.system.valeur}}</div>
		                    <div class="item-qty">{{item.system.quantite}}</div>
		                    <div class="item-controls">
		                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
		                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
		                    </div>
		                </li>
		            {{/each}}
	        		</ol>
			    </table>
			</div>
		</div>
	</div>
</form>