<form class="{{cssClass}}" autocomplete="off">
    <div id="pj-titre">
        <div class="flexrow objet">
            <div class="grid-2col" style="max-width: 134px;">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
            </div>
            <div class="grid-2col">
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                <h2>Description</h2>
                <textarea name="system.description" style="min-height: 80px">{{data.system.description}}</textarea>
                <h2>Race</h2>
                <input class="race" name="system.race" type="text" value="{{data.system.race}}"/>
                <h2>Dès</h2>
                <input class="dice" name="system.dice" type="text" value="{{data.system.dice}}"/>
                <h2>Trait</h2>
                <input class="dice" name="system.trait" type="text" value="{{data.system.trait}}"/>
            </div>
        </div>
    </div>
</form>